<stl:include file="@/include/head.html"></stl:include>
    <div id="MODBLK_457" class="mod_block mb_30nT9yms_block">
        <h3 class="blk_t">公司简介</h3>
        <div class="list_main category">
          <div class="prod_type">
            <div id="pro_type_aieeKs">
              <ul>
                <stl:channels channelIndex="公司简介" groupChannel="公司简介" layout="None">
                	<li><stl:a></stl:a></li>
                </stl:channels>
                <div class="blankbar1"></div>
              </ul>
            </div>
          </div>
          <div class="list_bot"></div>
        </div>
        <div class="blankbar"></div> 
      </div>
    <stl:include file="@/include/service.html"></stl:include>
  </div>
  <div id="right">
  	你现在的位置:<stl:location separator=">>"></stl:location>
  </div>
<stl:include file="@/include/bottom.html"></stl:include>