    <div class="blankbar1"></div>
  </div>
</div>
<div class="footermain">

<!-- 页脚【start】 -->
<div id="footer">
  <div class="copyright">    
    <div id="MODBLK_170" class="mod_block mb_foot_block">
      <div class="com_con">Copyright &copy; 2013,www.yourname.com,All rights reserved<br />
        版权所有 &copy;制药有限公司<br />
        豫ICP备XXXXXX号
      </div>
      <div class="list_bot"></div>
    </div>
     </div>
</div>
</div>
<script type="text/javascript" language="javascript" src="script/picAutoZoom.js"></script> 
<script type="text/javascript" language="javascript">
<!--
    $.ajaxSetup({
        timeout: 300000
    });
//-->
</script>
</body>
</html>