<div id="MODBLK_457" class="mod_block mb_30nT9yms_block">
        <h3 class="blk_t">产品列表</h3>
        <div class="list_main category">
          <div class="prod_type">
            <div id="pro_type_aieeKs">
              <ul>
                <stl:channels channelIndex="产品展示" groupChannel="产品展示" layout="None">
                	<li><stl:a></stl:a></li>
                </stl:channels>
                <div class="blankbar1"></div>
              </ul>
            </div>
          </div>
          <div class="list_bot"></div>
        </div>
        <div class="blankbar"></div> 
      </div>