<div id="right">
      <div id="MODBLK_459" class="mod_block mb_yUEXlVss_block">
        <h3 class="blk_t">公司简介</h3>
        <div class="list_main">
          <div class="list_con">
            <div><img src="images/xx49.jpg" style="float:left; margin-right: 10px;" alt="公司图片" />XXX医疗有限公制药公司为国家级高新技术企业。XXX医疗有限公制药公司为国家级高新技术企业。XXX医疗有限公制药公司为国家级高新技术企业。XXX医疗有限公制药公司为国家级高新技术企业。XXX医疗有限公制药公司为国家级高新技术企业。XXX医疗有限公制药公司为国家级高新技术企业。XXX医疗有限公制药公司为国家级高新技术企业。XXX医疗有限公制药公司为国家级高新技术企业。XXX医疗有限公制药公司为国家级高新技术企业。XXX医疗有限公制药公司为国家级高新技术企业。XXX医疗有限公制药公司为国家级高新技术企业。XXX医疗有限公制药公司为国家级高新技术企业。XXX医疗有限公制药公司为国家级高新技术企业。XXX医疗有限公制药公司为国家级高新技术企业。XXX医疗有限公制药公司为国家级高新技术企业。XXX医疗有限公制药公司为国家级高新技术企业。XXX医疗有限公制药公司为国家级高新技术企业。XXX医疗有限公制药公司为国家级高新技术企业。XXX医疗有限公制药公司为国家级高新技术企业。</div>
            <div class="list_more"><a href="#"><img src="images/more_37.jpg" alt="更多..." title="查看详细信息..."border="0" /></a></div>
          </div>
          <div class="list_bot"></div>
        </div>
        <div class="blankbar"></div>
      </div>
      <div id="MODBLK_462" class="mod_block mb_algOzkrh_block">
        <h3 class="blk_t">推荐产品</h3>
        <div class="newprod">
          <div class="newprod_top"></div>
          <div class="newprod_con">
            <div class="pro_over">
              <table class="media_grid" cellspacing="4" width="100%">
                <tr>
                  <td><div class="newprod_list">
                      <div class="newprod_pic"><a href="#" title="冲剂"><img name="picautozoom" border="0" src="images/1271741726.jpg" class="prodthumb" /></a></div>
                      <div class="newprod_name"><a href="#">冲剂</a></div>
                      <div class="blankbar1"></div>
                    </div></td>
                  <td><div class="newprod_list">
                      <div class="newprod_pic"><a href="#" title="胶囊"><img name="picautozoom" border="0" src="images/1271741811.jpg" class="prodthumb" /></a></div>
                      <div class="newprod_name"><a href="#">胶囊</a></div>
                      <div class="blankbar1"></div>
                    </div></td>
                  <td><div class="newprod_list">
                      <div class="newprod_pic"><a href="#" title="冲剂"><img name="picautozoom" border="0" src="images/1271741726.jpg" class="prodthumb" /></a></div>
                      <div class="newprod_name"><a href="#">冲剂</a></div>
                      <div class="blankbar1"></div>
                    </div></td>
                  <td><div class="newprod_list">
                      <div class="newprod_pic"><a href="#" title="冲剂"><img name="picautozoom" border="0" src="images/1271741811.jpg" class="prodthumb" /></a></div>
                      <div class="newprod_name"><a href="#">胶囊</a></div>
                      <div class="blankbar1"></div>
                    </div></td>
                </tr>
                <tr>
                  <td><div class="newprod_list">
                      <div class="newprod_pic"><a href="#" title="冲剂"><img name="picautozoom" border="0" src="images/1271741726.jpg" class="prodthumb" /></a></div>
                      <div class="newprod_name"><a href="#">冲剂</a></div>
                      <div class="blankbar1"></div>
                    </div></td>
                  <td><div class="newprod_list">
                      <div class="newprod_pic"><a href="#" title="胶囊"><img name="picautozoom" border="0" src="images/1271741811.jpg" class="prodthumb" /></a></div>
                      <div class="newprod_name"><a href="#">胶囊</a></div>
                      <div class="blankbar1"></div>
                    </div></td>
                  <td><div class="newprod_list">
                      <div class="newprod_pic"><a href="#" title="冲剂"><img name="picautozoom" border="0" src="images/1271741726.jpg" class="prodthumb" /></a></div>
                      <div class="newprod_name"><a href="#">冲剂</a></div>
                      <div class="blankbar1"></div>
                    </div></td>
                  <td><div class="newprod_list">
                      <div class="newprod_pic"><a href="#" title="冲剂"><img name="picautozoom" border="0" src="images/1271741811.jpg" class="prodthumb" /></a></div>
                      <div class="newprod_name"><a href="#">胶囊</a></div>
                      <div class="blankbar1"></div>
                    </div></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="list_bot"></div>
        </div>
        <div class="blankbar"></div>
      </div>
    </div>